html {
	font-size: 18px;
}

html, body {
	margin: auto;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
}

@include-when-export url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

/* open-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./github/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* open-sans-italic - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('./github/open-sans-v17-latin-ext_latin-italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* open-sans-700 - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./github/open-sans-v17-latin-ext_latin-700.woff2') format('woff2'); 
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* open-sans-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('./github/open-sans-v17-latin-ext_latin-700italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

body {
        font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
	color: #333;
	line-height: 1.4;
	text-align: justify;
}

/* 高亮 */
#write mark {
    background-color: #CFFCB2;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: #4F683B;
    font-weight: 500;
}

/* 斜体 */
#write em {
 	padding: 0 2px 0 2px;
 	font-style: normal;
	font-weight: bold;
    color: #E8BDB7;
}

/* 文本 */
#write {
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 2em;
	line-height: 1.53;
}

/* 列表首元素 */
#write>ul:first-child,
#write>ol:first-child {
    margin-top: 30px;
}

@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1100px;
	}
}

@media print {
	html {
		font-size: 13px;
	}
}

/* Typography */
/* 首个一级主题 */
#write>h1:first-child {
	margin-top: 0px;
}

/* 一级主题 */
h1 {
	margin-top: 0.3em;
	font-weight: bold;
	color: #4F683B!important;
	text-align: center;
	font-size: 2.4em
}

/* 二级主题 */
h2 {
	margin-top:2em;
	font-weight: bold;
	font-size: 2.1em;
}

/* 三级主题 */
h3 {
	font-weight: bold;
	line-height; 1.43;
	margin-top: 1.6em auto 1.2em;
	border-left: 5px solid #E8BDB7;
	padding-left: 9px;
	font-size: 1.8em
}

/* 四级主题 */
h4 {
	font-weight: bold;
	margin-top: 1.5em;

}

/* 五级主题 */
h5 {
	font-weight: bold;
	margin-top: 1.5em;
}

/* 一级标题下划线 */
h1:after{
	border-bottom: 3px solid #E8BDB7;
   	content: '';
   	width: 90px;
   	display: block;
   	margin: 0 auto;
   	height: 1px
}

/* 二级标题前置 */
h2:before{
	content:'#'!important;
	color: #E8BDB7
}

/* 二级标题后置 */
h2:after{
	border-bottom: 3px solid #E8BDB7;
	content: '';
	display: block;
	margin 0 auto;
	width: 1030px;
	height; 1px;
	margin-right: 0.83em;
}

/* 一级二级，二级三级间距 */
h1+h2, h2+h3 {
	margin-top: 0.83em;
}


/* 文本 */
p,
.mathjax-block {
	margin-top: 0;
	/* 自动连字符 */
	-webkit-hypens: auto;
	-moz-hypens: auto;
	hyphens: auto;
	font-size: 1.2em;
}

/* 无序列表 */ 
ul {
	list-style: disc;
	padding-left: 1.0em;
	color: #D7C4AC
}

/* 行内公式 */
[md-inline='inline_math'] {
     color: #4F683B;
     font-size: 100%;
 }

/* 有序列表 */
ol {
	padding-left: 1.3em;
}

/* 列表标识符颜色 */
#write ol>li,
#write ul>li {
    color: #E8BDB7;
    font-weight: bold;
}
#write ol>li>*,
#write ul>li>* {
    color: #333;
    font-weight: normal;
}

/* 引用 */
blockquote {
	background-color: #E0F8EB;
	margin-left: 0.1em;
	padding-left: 0.5em;
	border-left: 7px solid #4F683B;
}

blockquote {
	content: open-quote;
	font-size: 0.9em;
	line-height: 2.0em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

/* 行内代码 */
code,
pre {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	background: white;
}

/* 代码块 */
.md-fences{
	margin-left: 1em;
	padding-left: 1em;
	border: 1px solid #ffffff;
	padding-bottom: 8px;
	padding-top: 6px;
	margin-bottom: 1.5em;
}

/* 超链接 */
a {
	color: #4F683B;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
h1 a,
h1 a:hover {
	text-decoration: none;
}

/* 水平分割线 */
hr {
	color: #E8BDB7;
	height: 1px;
	margin: 2em 0;
	border-top: solid 1px #E8BDB7;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
}

/* 表格编辑区 */
.ty-table-edit {
	background: #f9f9f9;
   	padding-top: 3px;
}


#write strong {
    padding: 0.1em;
    color: #4F683B;
}


/* 表格 */
table {
	margin-bottom: 1.333333rem;
	text-align: center;
}
table th,
table td {
	padding: 8px;
	line-height: 1.333333rem;
	vertical-align: top;
	border: 2.4px solid #4F683B
}
table th {
	font-weight: bold;
}
table tr:nth-child(2n),
thead {
    background-color: #f9f9f9;
}
table thead th {
	vertical-align: bottom
}
table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 3px solid #4F683B;
	border-left: 3px solid #4F683B;
	border-right: 3px solid #4F683B;
	border-bottom: 3px solid #4F683B;
}
table tbody+tbody {
	border-top: 2px solid #4F683B；
}

.task-list{
	padding:0;
}

.md-task-list-item {
	padding-left: 1.6rem;
}

.md-task-list-item > input:before {
	content: '\221A';
	display: inline-block;
	width: 1.33333333rem;
  	height: 1.6rem;
	vertical-align: middle;
	text-align: center;
	color: #ddd;
	background-color: #fefefe;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before{
	color: inherit;
}
.md-tag {
	color: inherit;
	font: inherit;
}
#write pre.md-meta-block {
	min-height: 35px;
	padding: 0.5em 1em;
}
#write pre.md-meta-block {
	white-space: pre;
	background: #f8f8f8;
	border: 0px;
	color: #999;
	
	width: 100vw;
	max-width: calc(100% + 60px);
	margin-left: -30px;
	border-left: 30px #f8f8f8 solid;
	border-right: 30px #f8f8f8 solid;

	margin-bottom: 2em;
	margin-top: -1.3333333333333rem;
	padding-top: 26px;
	padding-bottom: 10px;
	line-height: 1.8em;
	font-size: 0.9em;
	font-size: 0.76em;
	padding-left: 0;
}
.md-img-error.md-image>.md-meta{
	vertical-align: bottom;
}
#write>h5.md-focus:before {
	top: 2px;
}

.md-toc {
	margin-top: 40px;
}

.md-toc-content {
	padding-bottom: 20px;
}

.outline-expander:before {
	color: inherit;
	font-size: 14px;
	top: auto;
	content: "\f0da";
	font-family: FontAwesome;
}

.outline-expander:hover:before,
.outline-item-open>.outline-item>.outline-expander:before {
  	content: "\f0d7";
}

/** source code mode */
#typora-source {
	font-family: Courier, monospace;
    color: #6A6A6A;
}

.html-for-mac #typora-sidebar {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.cm-s-typora-default .cm-header, 
.cm-s-typora-default .cm-property,
.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
	color: #428bca;
}

.cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
	color: #777777;
}

.typora-node .file-list-item-parent-loc, 
.typora-node .file-list-item-time, 
.typora-node .file-list-item-summary {
	font-family: arial, sans-serif;
}

.md-task-list-item>input {
    margin-left: -1.3em;
    margin-top: calc(1rem - 12px);
}

.md-mathjax-midline {
	background: #fafafa;
}

.md-fences .code-tooltip {
	bottom: -2em !important;
}

.dropdown-menu .divider {
	border-color: #e5e5e5;
}